/************************************************************
*********************** GENERALS ****************************
************************************************************/
* {
  box-sizing: border-box;
}

body {
  background: #24394F;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url("../img/background.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(36, 57, 79, 0.8);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading {
  font-size: 6rem;
}

h2.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(39, 62, 86, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: #FDE74C;
}

main {
  padding: 4rem;
  min-height: calc(100vh-60px);
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #14202c;
  color: #fff;
  height: 60px;
}

/************************************************************
********************** BOUTON MENU **************************
************************************************************/
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/************************************************************
***************************** MENU **************************
************************************************************/
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #1c2c3d;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #24394F;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background-image: url("../img/portrait.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #FDE74C;
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #FDE74C;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #FDE74C;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

/************************************************************
*********************** PAGE D'ACCUEIL **********************
************************************************************/
main#Accueil {
  overflow: hidden;
}

main#Accueil h1 {
  margin-top: 20vh;
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #FDE74C;
  transition: all 0.5s ease-out;
}

/************************************************************
************************ PAGE A PROPOS **********************
************************************************************/
.apropos-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "travail-1 travail-2 travail-3";
  grid-template-columns: repeat(3, 1fr);
}

.apropos-info .bio-image {
  grid-area: bioimage;
  width: 60%;
  margin: auto;
  border-radius: 50%;
  border: #FDE74C 3px solid;
}

.apropos-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.apropos-info .travail-1 {
  grid-area: travail-1;
}

.apropos-info .travail-2 {
  grid-area: travail-2;
}

.apropos-info .travail-3 {
  grid-area: travail-3;
}

.apropos-info .travail {
  background: #2c4661;
  padding: 0.5rem;
  border-bottom: #FDE74C 5px solid;
}

.apropos-info .travail h3, .apropos-info .travail h6 {
  font-size: 1.5rem;
}

/************************************************************
********************* PAGE MES PROJETS **********************
************************************************************/
.projets {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}

.projets img {
  width: 100%;
  border: 3px #fff solid;
}

.projets img:hover {
  opacity: 0.5;
  border-color: #FDE74C;
  transition: all 0.5s ease-out;
}

.btn-light, .btn-dark {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn-light:hover, .btn-dark:hover {
  background: #FDE74C;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #9fb8d3;
  color: #333;
}

/************************************************************
********************* PAGE CONTACT **************************
************************************************************/
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}

.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #FDE74C;
  color: #000;
}

.boxes div:hover span {
  color: #000;
}

/************************************************************
********************* MEDIA QUERYS **************************
************************************************************/

/* POUR LES MEDIAS EXTRA-LARGES */
/* de 1171px à +...  */
@media screen and (min-width: 1171px) {

  .projets {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* POUR LES MEDIAS LARGES */
/* de 769px à 1170px */
@media screen and (min-width: 769px) and (max-width: 1170px) {

  .projets {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* POUR LES MEDIAS MEDIUMS */
/* de 500px à 768px */
@media screen and (max-width: 768px) {

  main {
    align-items: center;
    text-align: center;
  }

  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  main .sm-heading {
    font-size: 1.5rem;
  }

  ul.menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }

  ul.menu-nav.show,
  .menu-branding.show {
    transform: translate3d(0, 0, 0);
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }

  .menu-branding .portrait {
    width: 150px;
    height: 150px;
  }

  .apropos-info {
    grid-template-areas: "bioimage" "bio" "travail-1" "travail-2" "travail-3";
    grid-template-columns: 1fr;
  }

  .apropos-info .bio-image {
    width: 100%;
  }

  .projets {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* POUR LES PETITS MEDIAS */
/* de 0px à 500px */
@media screen and (max-width: 500px) {

  main#Accueil h1 {
    margin-top: 10vh;
  }

  .projets {
    grid-template-columns: 1fr;
  }
}